.hero {width:100vw; height:80vh; background-size: cover; background-position: center; padding: 140px 0 60px; box-sizing: border-box;}


/* about.css 요소 */
.hero_about {background-image: url(../img/about/IMG_3864.jpg);}

.hero_title {width: 74.68354vw; height: calc(80vh - 200px); display: flex; flex-direction: column; justify-content: flex-end; margin: auto;}


/* about_us */

.about_us {width : 100vw; background-color: white; padding : 140 0 ; box-sizing: border-box;}
.about_us_container {width: 74.68354%; margin: 0 auto; display: flex; }
.section_subtitle {min-width:32.20339%; padding-top:14px;}
.section_subtitle_rule_black {width:47.36842%; border-top: 1px solid black;margin-bottom: 20px;}
.section_us_content {width: 66.10169%; margin-left: 1.69492%;}
.about_us_title {margin-bottom: 70px;}
.about_us_text {padding-bottom: 25px;}

/* our_service */

.our_service {width : 100vw; background-color: black; padding-top : 140; box-sizing: border-box;}
.our_service_container {width: 74.68354%; margin: 0 auto;}
.section_subtitle_no_padding {width:32.20339%; margin-bottom: 50px;}
.section_subtitle_rule_white {width:47.36842%; border-top: 1px solid white;margin-bottom: 20px;}
.our_service_content_container {width: 100%; display: flex;}
.our_service_content {width:57.62712%; align-items: flex-start;}
.our_service_content_title {margin-bottom: 50px;}
.our_service_infographic {width:32.20339%; margin-left: 5%;}
.our_service_content_text {column-count: 2; }
.our_service_infographic_img {width:100%; padding: 2% 0 0 5%; }

.our_service_list_contanier {width:74.68354%; margin: 0 auto; display: flex; padding-top: 60px; flex-wrap: wrap; padding-bottom: 230px;}
.our_service_list {width:32.20339%; }
.our_service_list a:hover {color: #ea178c;}
.our_service_list h5 {margin-bottom:40px;}
.our_service_list li {margin: 0 15% 20px 0; padding: 0 0 20px 0; border-bottom: 1px solid #222;}

.our_service_list li:last-child {padding-bottom: 20px; margin: 0 15% 0 0  ; border: none;}

/* our_culture */

.our_culture {width : 100vw; background-color: #cecdcf; padding : 140 0 100px; box-sizing: border-box; position: relative;}
.our_culture_container {width: 74.68354%; margin: 0 auto; }
.our_culture_title {margin: 120px 0 100px;}
.our_culture_list {width:100%; display: flex; flex-wrap: wrap; position: relative; z-index: 2;}
.our_culture_list li {width:23.72881%; min-height: 200px; margin-left: 1.69492%; }
.our_culture_list h5 {margin-bottom :7px;}
.our_culture_list p {width:85%;}
.our_culture_list li:nth-child(4n+1) {margin-left: 0;}

.our_culture_list a:hover {color:#ea178c;}

.our_culture_background {width: 38%;position: absolute; bottom:-8vh; right: 12%;}

.our_culture_background img {width: 100%;}


/* our_offices */
.our_offices {width : 100vw; background-color: #000; padding : 140 0 100px; box-sizing: border-box; position: relative;}
.our_offices_container {width: 74.68354%; margin: 0 auto; }

.our_offices_list {width: 100%; display: flex; flex-wrap: wrap; padding-top: 10;}
.our_offices_list li {width:23.5%;margin-left: 2%;
padding-top: 20px;margin-bottom: 25px; border-top: 1px solid rgba(255,255,255,0.3);}

.our_offices_list li:nth-child(4n+1) {margin-left: 0;}

.our_offices_list p {color:#fff;opacity: 0.5;}

.our_offices_list a:hover {color:#ea178c;}

/* our_leadership */

.our_leadership {width : 100vw; background-color: white; padding : 140 0 100px; box-sizing: border-box; position: relative;}
.our_leadership_container {width: 74.68354%; margin: 0 auto; }

.our_leadership_list {width:100%; display: flex; flex-wrap: wrap;}
.our_leadership_list li{width: 23.5%; flex: 0 0 33.3%; margin-bottom: 40px; padding-top: 40px; border-top: 1px solid rgba(0,0,0,0.3);}
