.hero {width:100%; height:80vh; background-size: cover; background-position: center; padding: 140px 0 60px; box-sizing: border-box;}


/* about.css 요소 */
.hero_contact {background-image: url(../img/contact/RoyalPalms-16__2__crop__1___1___2_.jpg);}

.hero_title {width: 74.68354%; height: calc(70vh - 200px); display: flex; flex-direction: column; justify-content: flex-end; margin: auto; font-size: 170px; line-height: 170px;}



/* hello */

.hello {width : 100%; background-color: black; padding : 140 0 ; box-sizing: border-box;}
.hello_container {width: 74.68354%; margin: 0 auto; display: flex; }
.section_subtitle {min-width:32.20339%; padding-top:14px;}
.section_subtitle_rule_white {width:47.36842%; border-top: 1px solid white;margin-bottom: 20px;}
.hello_content {width: 66.10169%; margin-left: 1.69492%;}

.hello_content ul {width: 100%; display: flex; justify-content: flex-start; flex-wrap: wrap; }
.hello_content li {width: 48.71795%;margin-top: 100px;}
.hello_content p:first-child {margin-bottom: 40px;}


.offices {width:100%; background-color: black;}
.offices_container {width:89.87432%; margin:0 auto; padding:0 0 100px;}
.offices_content {width:100%; display: flex; flex-wrap: wrap;}
.offices_content li {width:33.3%;background-color: white; padding: 115px 70px 30px; border-bottom: solid 1px black;border-right: solid 1px black; position: relative;}

.min_height {min-height: 100px;}
.offices_content li:hover {background-color: rgba(255,255,255,0.5);}

.offices_content li h4 {margin-bottom: 50px;}
.offices_content li h5 {margin-bottom:20px;}

.offices_img {width:35px; height:35px; position: absolute; bottom:30px;right:30px; border-radius:50%;}

.work_05 {width:100%;  background-image:url(../img/9.jpg); background-size: cover;}
.work_05 > div:first-child {background-color: rgba(0,0,0,0.7); padding: 200px 0;}
.work_05_wrap {width: 100%; display: flex; justify-content: flex-start;}

.work_05_left {width: 18.98734%;padding-bottom: 18.98734%;margin: auto 1.25% auto 12.65823%; ; box-sizing: border-box; background-image : url(../img/magenta-hero.gif); background-size:cover;}



.work_05_right {width:43.04797%; display: flex; flex-direction: column; justify-content: center; margin-left:5.06329%;}
.work_05_right h2 {color:white}
.work_05_right p {color:white}

@media screen and (max-width:999px)
{
    .hero {height:70vh;}
    .hero_title {font-size:104px; line-height: 91px;}
    
    
    .section_subtitle {width: 48.97959%;}
    .section_subtitle h6 {font-size: 16px;}
    .section_subtitle_rule_white {width:37.5%;}
    .hello_content {width: 66.10169%;margin-left: 1.69492%;}
    .hello_content li {width:100%; flex-direction: column; margin-top: 60px;}
    .hello_content li p:first-child {margin-bottom: 20px;}
    .hello_content li p:last-child {margin :0;}
    .h3_serif {font-size: 42px; line-height: 1.28571;}
    .hello_title {width:74.35897%; }

    .offices_container {width:83.05085%;}

    .offices_content li {width:50%; padding: 80px 50px 10px;}
    .offices_content li h4 {font-size: 42px; margin-bottom:30px;}
    .offices_content li h5 {font-size: 21px; margin-bottom:15px;}

    .offices_img {width:23.26px; height:23.26px}

    .work_05_left {width: 25.42373%;padding-bottom: 25.42373%;margin: auto 0 auto 15%;}
    h2 {font-size : 72px; line-height: 72px;}
    .work_05_right {width:40%;}


}

@media screen and (max-width:767px)
{
    .hello {padding-top: 60px;}
    .hero_title {font-size:60px; line-height: 61px;}

    .hello_container {flex-direction: column;}

    .section_subtitle {width:82.75862%;}
    .section_subtitle h6 {font-size: 14px; margin-bottom:60px;}

    .hello_content {width:100%; margin: 0}
    .hello_title {width:100%; }
    .h3_serif {font-size:30px;}
    
    .offices_container {width:100%;padding: 0 25px 80px;}
    .offices_content {min-height:57vh;}
    .offices_content li {width:100%; padding:40px 25px;}
    .offices_content li h4 {font-size: 32px;}
    .offices_content li h5 {font-size: 19px;}



    .work_05 > div:first-child {padding:0}
    .work_05_wrap {flex-direction: column; padding: 80px 0;}
    .work_05_left {width:35.89744%; padding-bottom:35.89744%;margin-left: 10%;}
    .work_05_right {width:74.35897%;margin-right: 2.5641%;margin-left: 10%;margin-top: 50px;}
}

