/* 주석 */



    /* 메인화면 css */
            
    .home_mark {font-family: HugeGothic-Bold; font-size: 36px; font-weight: 600px; width: 74px; height: 74px;; 
        position: fixed; left : calc(50vw - 37px); top : 50px; display: flex; justify-content: center; align-items: center;z-index: 200;}
    
    .home_mark div {width: 48px; height: 48px;text-align: center; line-height: 55px;}
    
    .home_mark2 {font-family: HugeGothic-Bold; font-size: 300px; font-weight:600px; width:100vw; height: 100vh;; 
        padding: 0; display: flex; justify-content: center; align-items: center; position: static; position: relative;}
    
    .home_Hello {  margin: auto; display: flex; justify-content: center; align-items: center; }
    
    .home_bottom_bar {height:90px; width:100vw; border: none;  position: absolute; bottom: 0; display: flex; justify-content: center; align-items: center;
        flex-direction: column}
    
    .home_bottom_line { height: 30px; border-left: 1px solid;}


    /* home_section */

    #home_section1 {}
    #home_section2 {}
    #home_section3 {}
    #home_section4 {}
    #home_section5 {}
    #home_section6 {}
    #home_section7 {}

    /* home_section css */

    .home_section_wrap {width: 100vw; height: 100vh; box-sizing: border-box; display: flex;}
    .home_section_index {width: calc(12.5vw + 5px); height: 100vh; padding-top: 20vh; box-sizing: border-box;}
    
    .home_section_index_wrap {display:flex ; justify-content: flex-end;}
        .home_section_index_wrap p {font-family: HugeGothic-Bold; font-size: 22px; font-weight: 100; line-height: 22px; letter-spacing: 1px;}
        .home_section_index_wrap div {border-bottom: 1px solid; width: 5vw; height: 11px; margin-left: 15px;}
    
    .home_section_content {width: 75vw;height: 100vh; padding: 20vh 0; box-sizing: border-box; padding-left: 15px;}
    
    .home_section_content_wrap {width: 45%; height: 60vh;}
        .home_section_content_wrap div {font-family: HugeGothic-Bold; font-size:22px;font-weight:100; line-height:22px;letter-spacing: 1px;}
    
    .home_section_content_subwrap {width:100%; height:calc(100% - 22px); display:flex; flex-direction:column; justify-content:center;}
        .home_section_content_subwrap h2 {font-family: HugeGothic-Bold; font-size:80px;font-weight:100; line-height: 80px;}
        .home_section_content_subwrap div {border-top: 1px solid; width: 5vw; margin: 5% 0;}
        .home_section_content_subwrap p {font-family:Galaxie-Book; font-size:18px;  line-height:28px; width:85%;}
    

    
    /* 배경 */
    .bg_1 {background-image: url(../img/hugeinc.png)}
    .bg_2 {background-image: url(../img/hugeinc9png.png)}
    .bg_3 {background-image: url(../img/hugeinc10.png)}
    .bg_4 {background-image: url(../img/hugeinc12.png)}
    .bg_5 {background-image: url(../img/hugeinc2.jpg)}
    .bg_6 {background-image: url(../img/hugeinc3.jpg)}
    .bg_7 {background-image: url(../img/hugeinc1.jpg)}


